:root { 
	--margin-size: min(100px, 7.5vw);
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-y: hidden;
}

body {
	display: grid; 
	grid-gap: 10px;
	background-color: white;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr; 
	grid-auto-flow: dense; 
}

.view {
	grid-template-areas: "h h" 
						 "q q"
}

.view > #textbox {
	display: none;
}

.view > #content {
	font-size: 1em;
	padding-left: 40px;
	padding-right: 40px;
}

.view #previous-question, .view #next-question {
	display: none;
}

.edit {
	grid-template-areas: "h h" 
						 "c q" 
}

.edit #previous-question, .edit #next-question {
	display: none;
}


.quiz {
	grid-template-areas: "h h" 
						 "q q"	
}

.quiz > #textbox {
	display: none; 
}

.quiz > #content {
	font-size: 1.5em;
	padding-left: 30px;
	padding-right: 30px;
}



#code {
	width: 100%;
	height: 100%;
}

.katex {
	font-size: 1em !important;
}

button {
	font-family: "Computer Modern Serif", serif;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 0;
	background: transparent;
	border: none;
	outline: none;
	color: #79ccd3;
	padding-left: 2ch;
	padding-right: 2ch;
}

button:hover {
	color: white;
}

.view #view, .edit #edit, .quiz #quiz {
	/* McGill red, sorry Anna*/
	color: #ed1b2f;
}


#button-container {
	display: flex;
	align-items: center;
}


#title {
	color: #ffc900;
	font-size: 3em;
	font-family: "Computer Modern Serif", serif;
	font-weight: bold;
	padding-left: 1ch;
	padding-top: 0em;
	padding-bottom: 0em;
	text-align: center;
}

body > div { 
	background-color: white;
} 

header {
	display: flex;
	justify-content: space-between;
	background-color: #002147;
	grid-area: h; 
}

#textbox {
	margin-top: 0;
	margin-left: 10px;
	grid-area: c;
	outline: none;
}


#content {
	font-family: "Computer Modern Serif", serif;
	background-color: white;
	color: black;
	padding: 10px;
	grid-area: q;
	overflow-y: scroll; 
}

/* this is a comment */

textarea {
	width: 100%;
	border: none;
	outline: none;
	resize: none;
}




